<h4>Value</h4>
<span class="bar-full" ng-repeat="i in getNumber(value) track by $index">&#8211</span><span class="bar-empty" ng-repeat="i in getNumber(5-value) track by $index">&#8211</span>
<h4>Price</h4>
<span class="bar-full" ng-repeat="i in getNumber(price) track by $index">&#8211</span><span class="bar-empty" ng-repeat="i in getNumber(5-price) track by $index">&#8211</span>
<h4>Quality</h4>
<span class="bar-full" ng-repeat="i in getNumber(quality) track by $index">&#8211</span><span class="bar-empty" ng-repeat="i in getNumber(5-quality) track by $index">&#8211</span>