<div class="protection-plan">
  <h3>Add Product Protection Plan</h3>
  <p>*A $99 deductible applies to all claims.</p>
  
  <!-- prices -->
  <div class="plans">
    <div class="plan-price">
      <input ng-model="twoYear" id="checkbox1" type="checkbox" ng-click="selectPlan('twoYear', '105.00')"><label for="checkbox1">2-Year Protection Plan*<span class="price">$105.00</span></label>
    </div>
    <div class="plan-price">
      <input ng-model="oneYear" id="checkbox2" type="checkbox" ng-click="selectPlan('oneYear', '60.00')"><label for="checkbox2">1-Year Protection Plan*<span class="price">$60.00</span></label>
    </div>
  </div>
  
  <p>*A $99 deductible applies to all claims.</p>
</div>